{
  "presets": [
    "react",
    ["env", {
      "targets": {
        "browsers": "last 2 versions"
      },
      "loose": true,
      "modules": false
    }]
  ],

  "env":{
    "server":{
         "plugins": ["transform-es2015-modules-commonjs",["babel-plugin-transform-require-ignore",{
            "extensions": [".less"]
          }]]
      }
  }
  
}